
header {
	/* position: absolute;
    height: 147px;
    left: 0px;
    right: 0px;
    top: 0px;
    background: rgba(222, 222, 222, 0.5);
    backdrop-filter: blur(10px); */
    display: flex;
	justify-content: space-between;
	align-items: center;
	height: 147px;
    left: 0px;
    right: 0px;
    top: 0px;
	background: #dedede80;
	position: static;
	z-index: 4;
}
li,a,button {
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 25px;
    color: #1F1E1E;
    text-decoration: none;
}
.logo{
    position: absolute;
    width: 202px;
    height: 147px;
    left: 293px;
    top: 0px;
}
.cap {
	list-style: none;


}
.cap li {
    display: inline-block;
	cursor: pointer;
	padding: 20px 40px;
	position: relative;
	margin: 0 auto;
	text-align: center;
	vertical-align: middle;

}

.cap li a {
	transition: all .4s ease 0s;
}

.cap li a:hover {
	color: #1e8fc8f8
}
.lenni {
    position: absolute;
    width: 1920px;
    height: 325px;
    left: 0px;
    top: 375px;
}