@import url('https://fonts.googleapis.com/css2?family=Lora&family=Open+Sans:wght@300;600&display=swap');
body {
    padding: 0;
    margin: 0;
    text-align: center;
    padding-left: 300px;
    padding-right: 300px;
}
header {
	/* position: absolute;
    height: 147px;
    left: 0px;
    right: 0px;
    top: 0px;
    background: rgba(222, 222, 222, 0.5);
    backdrop-filter: blur(10px); */
    position:static;
    
	justify-content: space-between;
	align-items: center;

	background: #dedede80;
	position: static;
	z-index: 4;
}
.zagolovok{
    font-family: 'Lora', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 45px;
    line-height: 58px;

}

li,a,button {
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 25px;
    color: #1F1E1E;
    text-decoration: none;
}
.logo{
    position: absolute;
    width: 202px;
    height: 147px;
    left: 293px;
    top: 0px;
}
.cap {
	list-style: none;


}
.cap li {
    display: inline-block;
	cursor: pointer;
	padding: 20px 40px;
	position: relative;
	margin: 0 auto;
	text-align: center;
	vertical-align: middle;

}

.cap li a {
	transition: all .4s ease 0s;
}

.cap li a:hover {
	color: #1e8fc8f8
}
.lenni {
    /* position: absolute; */
    width: 100%;
    /* height: 325px;
    left: 0px;
    top: 375px; */
}
.container {
    
    
}
.ButtonsIWant {
    padding: 20px;
    margin: 0;
}
.ButtonsIWant li {
    display: inline;
    margin-left: 30px;
}